<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <h1>Agregar artí­culo a Tiras</h1>
                        <h3>Cliente: {{ nomCliente }} &nbsp; Código: {{ codCliente }}</h3>
                        <h3>
                            Unidad de medida: {{ unidadSelecc }}, &nbsp; Divisa: {{ divisaSelecc }}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
