<div class=" container-fluid mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="container">
                            <h1>Agregar Artículo</h1>

                            <h4>Cliente </h4>

                            <mat-form-field appearance="fill">
                                <mat-label>Seleccionar divisa</mat-label>
                                <mat-select [(value)]="selectedValue">
                                    <mat-option *ngFor="let food of foods" [value]="food">
                                        {{food.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <p> Divisa seleccionada: {{selectedValue.viewValue}} </p>
                            <mat-form-field appearance="fill">
                            </mat-form-field>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>