<div class=" container-fluid mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="container">
                            <h1>Agregar Artículo</h1>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="container">
                            <p>Caja de texto: <input type="text" name="texto" placeholder="Bla bla bla"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>