<script>
    $(document).ready(function() {
        $('.example').DataTable();
    });
</script>
<div class="content-wrapper">
    <section class="content">
        <div class="box">
            <div class=" container-fluid ">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1 class="display-4">Listado de Articulos&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-light float-end" routerLink="/agregar-articulos">Agregar articulo<i class='ni ni-fat-add'></i> </button></h1>
                                <!--   <button class="btn btn-light float-end" routerLink="/agregar-articulos">Nuevo Articulo</button> -->
                                <table class="table table-striped table-bordered table-responsive dt-responsive example">
                                    <thead>
                                        <tr>
                                            <th scope="col">Cliente</th>
                                            <th scope="col">Articulo</th>
                                            <th scope="col">Grosor</th>
                                            <th scope="col">Acabado</th>
                                            <th scope="col">Color</th>
                                            <th scope="col">clasificacion</th>
                                            <th scope="col">Tarifa</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><i class="fa fa-edit text-primary"></i>
                                                <i class="fa fa-trash text-danger"></i>


                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>