<div class=" container-fluid mt-3">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-auto">
                                    <div class="navbar-search form-inline mr-3 d-none d-md-flex ml-lg-auto">
                                        <div class="form-group mb-0">

                                            <!--   <mat-form-field class="example-full-width">
                                                <mat-label>Buscar cliente</mat-label>
                                                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                    {{option.name}}
                                                  </mat-option>
                                                </mat-autocomplete>
                                              </mat-form-field> -->

                                            <!--  <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-search"></i> Buscar Cliente</span>

                                                </div>

                                                <input class="form-control" autofocus="autofocus" type="text" />

                                            </div> -->
                                            <div class="col-md-auto">
                                                <div class="navbar-search form-inline mr-5 d-none d-md-flex ml-lg-auto">

                                                    <mat-form-field class="example-full-width">
                                                        <mat-label>Buscar clientes</mat-label>
                                                        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                                {{option.name}}
                                                            </mat-option>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="navbar-search form-inline mr-3 d-none d-md-flex ml-lg-auto">


                                        <mat-form-field appearance="fill">
                                            <mat-label>Unidad de negocio</mat-label>
                                            <mat-select [(value)]="selectedUnidadN">
                                                <mat-option *ngFor="let unidadnegocio of unidadesN" [value]="unidadnegocio.viewValue">
                                                    {{unidadnegocio.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>


                                    </div>
                                </div>
                                <div class="col">
                                    <div class="navbar-search form-inline mr-3 d-none d-md-flex ml-lg-auto">


                                        <mat-form-field appearance="fill">
                                            <mat-label>Unidad de medida</mat-label>
                                            <mat-select [(value)]="selectedUnidad">
                                                <mat-option *ngFor="let unidad of unidades" [value]="unidad.value">
                                                    {{unidad.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                    </div>
                                </div>

                                <div class="col">
                                    <div class="navbar-search form-inline mr-3 d-none d-md-flex ml-lg-auto">

                                        <mat-form-field appearance="fill">
                                            <mat-label>Divisa</mat-label>
                                            <mat-select [(value)]="selectedValue">
                                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                                    {{food.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>




                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class=" container-fluid mt-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="display-4">Listado de Articulos&nbsp;&nbsp;&nbsp;

                        <button class="btn btn-light float-end" routerLink="/agregar-articulos">Agregar articulo<i class='ni ni-fat-add'></i> </button></h1>

                    <div class="table-responsive">
                        <table class="table align-items-center table-dark table-flush">
                            <thead class="thead-white">
                                <tr>
                                    <th scope="col">Cliente</th>
                                    <th scope="col">Articulo</th>
                                    <th scope="col">Grosor</th>
                                    <th scope="col">Acabado</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">clasificacion</th>
                                    <th scope="col">Tarifa</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
                                    <td>HSHS</td>
                                    <td>J2ML</td>
                                    <td>1</td>
                                    <td>AR</td>
                                    <td>23</td>
                                    <td>TR</td>
                                    <td>40</td>
                                    <td>
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                          </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item>
                                                <mat-icon> view_headline</mat-icon>
                                                <span>Especificaciones
                                                    </span>
                                                   
                                              </button>
                                            <button mat-menu-item (click)=open(mymodal)>
                                              <mat-icon> mode_edit</mat-icon>
                                              <span>Editar</span>
                                            </button>

                                            <button mat-menu-item (click)="clickMethod('name')">
                                              <mat-icon>delete_forever</mat-icon> 
                                                <span > Eliminar  </span>
                                            </button>
                                        </mat-menu>
                                    </td>



                                </tr>
                                <tr style="color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">
                                    <td>HSHS</td>
                                    <td>J2ML</td>
                                    <td>1</td>
                                    <td>AR</td>
                                    <td>23</td>
                                    <td>TR</td>
                                    <td>40</td>
                                    <td>
                                        <button mat-icon-button [matMenuTriggerFor]="menu">
                                            <mat-icon>more_vert</mat-icon>
                                          </button>
                                        <mat-menu #menu="matMenu">
                                            <button mat-menu-item (click)=open(mymodal)>
                                              <mat-icon> mode_edit</mat-icon>
                                              <span>Editar</span>
                                            </button>

                                            <button mat-menu-item (click)="clickMethod('name')">
                                              <mat-icon>delete_forever</mat-icon> 
                                                <span > Eliminar  </span>
                                               
                                            </button>
                                        </mat-menu>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<ng-template #mymodal let-modal>

    <div class="modal-header">
        <h1 class="modal-title" id="modal-basic-titlee">Editar artículo</h1>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
     </button>
    </div>
    <div class="modal-body">
        <div class="box-body">
            <div class="form-group">
                <div class="input-group">
                    <div class="col">
                        <div class="navbar-search form-inline mr-3 d-none d-md-flex ml-lg-auto">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control input-lg" id="editarNombre" name="editarNombre" value="" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="navbar-search form-inline mr-3 d-none d-md-flex ml-lg-auto">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control input-lg" id="editarNombre" name="editarNombre" value="" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">

        <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Guardar
            <span class="material-icons">
                save
                </span>
        </button>

    </div>

</ng-template>