/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.headernavbar {
    background-color: #172b4d;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mod-class .modal-dialog {
    max-width: 1000px;
    max-height: 1000px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-medium-width {
    width: 60%;
}

.example-litle-width {
    width: 30%;
}

.example-litle-width_min {
    width: 40%;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.high {
    color: rgb(187, 57, 57);
}

.example-buscarcliente-width {
    width: 200%;
}

::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

::-webkit-scrollbar-button {
    display: none;
}

.buttonadd {
    border-radius: 4px;
    background-color: #adb5bd;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 7px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonadd span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonadd span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonadd:hover span {
    padding-right: 15px;
}

.buttonadd:hover span:after {
    opacity: 1;
    right: 0;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(107, 105, 105) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: brown !important;
}

.mat-radio-button .mat-radio-outer-circle {
    border-color: brown !important;
}